@charset "utf-8";

.large-next-btn{
  width: 322px;
  height: 44px;
  color: #fff;
  background: #E26E7E;
  font-size:  14px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
}
.large-next-btn:disabled {
  background: #FCBBC4;
} 

.medium-follow-btn {
  width: 120px;
  height: 34px;
  color: #fff;
  background: #E26E7E;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.medium-follow-btn:disabled {
  background: #FCBBC4;
}
.medium-unfollow-btn {
  width: 120px;
  height: 34px;
  color: #767676;
  background: #fff;
  border: 1px solid #DBDBDB;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
}
.small-follow-button {
  width: 56px;
  height: 28px;
  color: #fff;
  background: #E26E7E;
  font-size: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.save-btn,
.upload-btn {
  width: 90px;
  height: 32px;
  color: #fff;
  background: #E26E7E;
  font-size: 14px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}
.save-btn:disabled,
.upload-btn:disabled {
  background: #FCBBC4;
}

.cancel-button {
  width: 56px;
  height: 28px;
  color: #767676;
  background: #fff;
  border: 1px solid #DBDBDB;
  font-size: 12px;
  border-radius: 30px;
  cursor: pointer;
}

.user-follow-bar {
  color: #000;
  display: flex;
  width: 358px;
  height: 50px;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: #FCBBC4; */
}
.user-search-bar {
  color: #000;
  display: flex;
  width: 358px;
  height: 50px;
  align-items: center;
  /* background-color: #FCBBC4; */
}
.user-image {
  width: 50px;
  height: 50px;
}
.user-email {
  font-size: 12px;
  color: #767676;
}
.user-follow-info {
  margin-left: -68px;
  line-height: 22px;
}
.user-search-info {
  margin-left: 14px;
  line-height: 22px;
}