.wrap{
  width: 390px;
}

.nav{
  /* background-color: #ddd; */
  
  padding: 8px 12px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.nav .btn-back{
  /* margin: 13px 16px; */
  margin: 5px 4px;
  width: 22px;
  background: transparent;
  cursor: pointer;
}
.nav .btn-menu{
  margin-left: auto;
  width: 24px;
  background: transparent;
  cursor: pointer;
}
.nav .inp-search{
  margin-right: 4px;
  padding: 7px 16px;
  width: 80%;
  min-width: 316px;
  background: #F2F2F2;
  border-radius: 32px;
}
.nav .inp-search::placeholder{
  color: #C4C4C4;
}
.nav .link-search{
  /* margin: 13px 16px; */
  margin: 4px;
  width: 24px;
}

.nav-main p{
  /* margin: 13px 16px; */
  margin: 5px 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.nav-chat p{
  margin: 7px 0 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

/* 누리 작업 - P01 사용자 프로필 */
.profile-sec{
  padding: 30px 0 26px;
  border: 0.5px solid var(--cancel-color-border);
}
.profile-wrap{
  /* margin: 30px 0 16px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img{
  margin: 0 auto;
  width: 110px;
}
.profile-follow{
  /* width: 100%; */
  min-width: 77%;
  position: absolute;
  top: 35px;
}
.profile-follow dd{
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}
.profile-follow dt{
  font-size: 10px;
  line-height: 12px;
  color: var(--cancel-color-text);
}
.profile-followers{
  float: left;
}
.profile-followings{
  float: right;
}
.profile-followings dd{
  color: var(--cancel-color-text)
}

.profile-name{
  /* CHECK:: 보통 margin-top을 주는데 account가 span 태그라 display와 margin 2개를 추가해야해서 여기에 bottom으로 줌 */
  margin: 16px 0 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.profile-account{
  font-size: 12px;
  line-height: 14px;
  color: var(--cancel-color-text);
}
.profile-desc{
  margin-top: 16px;
  font-size: 14px;
  line-height: 18px;
  color: var(--cancel-color-text);
}
.profile-btn-wrap{
  margin: 24px auto;
  /* width: 208px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-btn{
  margin: 0 10px;
  width: 34px;
  height: 34px;
  border: 1px solid var(--cancel-color-border);
  border-radius: 30px;
  background-color: #fff;
}
.profile-btn img{
  margin: 0 auto;
  width: 20px;
}

.product-sec{
  margin-top: 6px;
  padding: 20px 0 20px 15px;
  border: 0.5px solid var(--cancel-color-border);
}
.sec-title{
  font-weight: bold;
  line-height: 20px;
}
.product-list{
  margin-top: 16px;
  height: 132px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.product-item{
  margin-right: 10px;
  display: inline-block;
  width: 140px;
}
.item-img{
  border: 0.5px solid var(--cancel-color-border);
  border-radius: 8px;
}
.item-tit{
  padding: 6px 2px 0 2px;
  font-size: 14px;
  line-height: 18px;
}
.item-price{
  padding: 4px 2px 0 2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: var(--enabled-color);
}

.post-sec{
  margin-top: 6px;
  border: 0.5px solid var(--cancel-color-border); 
}
.post-btn-tab{
  padding: 9px 16px;
  overflow: auto;
  border-bottom: 0.5px solid var(--cancel-color-border); 
}
.post-btn-wrap{
  float: right;
}
.post-btn-wrap button{
  margin-left: 16px;
  width: 26px;
  background-color: #fff;  
}
/* .post-btn-list{
  background-image: url(../assets/icon/icon-post-list-off.png);
}
.post-btn-list.on{
  background-image: url(../assets/icon/icon-post-list-on.png);
}
.post-btn-album{
  background-image: url(../assets/icon/icon-post-album-off.png);
}
.post-btn-album.on{
  background-image: url(../assets/icon/icon-post-album-on.png);
} */

.post-album-sec{
  margin: 16px;
  display: none;
}
.post-album-list{
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, minmax(114px, auto));
  gap: 8px;
}
.post-album-item.multi{
  position:relative;
}
.post-album-item.multi::before{
  margin: 6px;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  background: url(../assets/icon/iccon-img-layers.png) no-repeat center;
}

/* 누리 작업 - P02 마이 프로필 */
.medium-unfollow-btn.profile-edit-btn{
  margin: 0 12px; 
}