/* style */
:root {
  --enabled-color: #E26E7E;
  --disabled-color: #FCBBC4;
  --cancel-color-text: #767676;
  --cancel-color-border: #DBDBDB;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Spoqa Han Sans Neo;
}

/* body */
.container{
  margin: 0 auto;
  /* min-width: 390px; */
  max-width: calc(100% - 32px);
  background-color: #fff;
}
.container-join{
  margin: 0 auto;
  max-width: calc(100% - 68px);
  /* max-width: 390px; */
  background-color: #fff;
}
.center{
  text-align: center;
}
.bg-white{
  background-color: #fff;
}

/* 공동 작업 - 로그인 페이지 */
.page-tit{
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
.login-form,
.join-form,
.profile-form,
.prod-form,
.profile-edit-form{
  margin: 0 34px 20px;
  display: block;
  /* margin-bottom: 20px; */
}
.login-email-input::placeholder,
.login-pw-input::placeholder{
  font-size: 14px;
  color: var(--cancel-color-border);
}
.id-error-message,
.pw-error-message{
  font-size: 12px;
  color: #EB5757;
  margin-top: 6px;
  display: none;
}
.join-link{
  display: block;
  color: var(--cancel-color-text);
  font-size: 12px;
  margin-top: 20px;
}

/* splash */

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-img {
  width: 150px;
}

.logo-tit {
  color: var(--enabled-color);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

/* 3.1.2 로그인 - 로그인 메인 */
.sns-login-sec{
  height: 100vh;
  position: relative;
  background: url('../assets/symbol-logo-W-strawberry.png') no-repeat top 45px right -164px var(--enabled-color) fixed;
}

.sns-login-cont{
  position: absolute;
  bottom: 0;
  height: 320px;
  width: 100%;
  background: #FFF;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.sns-email-link,
.sns-join-link{
  color: var(--cancel-color-text);
  font-size: 12px;
  margin-top: 20px;
}

.sns-list {
  width: 322px;
  margin: 50px auto 20px;
}

.sns-item {
  position: relative;
  font-size: 14px;
  padding: 13px 0;
  border: 1px solid #F2C94C;
  box-sizing: border-box;
  border-radius: 44px;
  margin-bottom: 10px;
}
.sns-item.google{
  border: 1px solid var(--cancel-color-text);
}
.sns-item.facebook{
  border: 1px solid #2D9CDB;
}

.sns-item a {
  color: #767676;
}
.sns-item a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 16px;
  display: block;
  background-image: url(../assets/icon/message-kakao.png);
  background-size: 24px;
}
.sns-item.google a::before {
  background-image: url(../assets/icon/message-google.png);
}
.sns-item.facebook a::before {
  background-image: url(../assets/icon/message-facebook.png);
}

.sns-link ~ a{
  margin-left: 24px;
}
.sns-link ~ a::before{
  content: '|';
  position: absolute;
  display: inline-block;
  margin: 4px 0px 0px -16px;
}

/* 3.1.3 회원가입 - 이메일로 회원가입 */
.join-section {
  display: block;
}

.profile-section {
  display: none;
}

.profile-tit{
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

