.wrap{
  width: 390px;
}

.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.nav.nav-follow{
  justify-content: flex-start;
}
.nav .btn-back{
  /* margin: 13px 16px; */
  margin: 5px 4px;
  width: 22px;
  background: transparent;
  cursor: pointer;
}
.nav .btn-menu{
  margin-left: auto;
  width: 24px;
  background: transparent;
  cursor: pointer;
}
.nav .inp-search{
  margin-right: 4px;
  padding: 7px 16px;
  width: 80%;
  min-width: 316px;
  background: #F2F2F2;
  border-radius: 32px;
}
.nav .inp-search::placeholder{
  color: #C4C4C4;
}
.nav .inp-search:focus {
  outline: 2px solid var(--enabled-color);
}
.nav .link-search{
  margin: 4px;
  width: 24px;
}

.nav-main p{
  margin: 5px 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.nav-chat p{
  margin: 7px 0 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.nav-follow p{
  margin: 7px 0 0 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

/* 누리 작업 - P01 사용자 프로필 */
.container.profile{
  padding-top: 48px;
  min-width: 390px;
  max-width: none;
}
.profile-sec{
  padding: 30px 0 26px;
  border-bottom: 0.5px solid var(--cancel-color-border);
}
.profile-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-wrap .profile-img{
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.profile-follow{
  min-width: 77%;
  position: absolute;
  top: 35px;
}
.profile-follow dd{
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}
.profile-follow dt{
  font-size: 10px;
  line-height: 12px;
  color: var(--cancel-color-text);
}
.profile-followers{
  float: left;
}
.profile-followings{
  float: right;
}
.profile-followings dd a{
  color: var(--cancel-color-text)
}

.profile-name{
  margin: 16px 0 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.profile-account{
  font-size: 12px;
  line-height: 14px;
  color: var(--cancel-color-text);
}
.profile-desc{
  margin-top: 16px;
  font-size: 14px;
  line-height: 18px;
  color: var(--cancel-color-text);
}
.profile-btn-wrap{
  margin: 24px auto;
  /* width: 208px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-btn{
  margin: 0 10px;
  width: 34px;
  height: 34px;
  border: 1px solid var(--cancel-color-border);
  border-radius: 30px;
}
.message-btn{
  background: url(../assets/icon/icon-message-circle.png) no-repeat;
  background-size: 20px;
    background-position: center;
}
.share-btn{
  background: url(../assets/icon/icon-share.png) no-repeat;
  background-size: 20px;
    background-position: center;
}

.product-sec{
  margin-top: 6px;
  padding: 20px 0 20px 15px;
  border-top: 0.5px solid var(--cancel-color-border);
  border-bottom: 0.5px solid var(--cancel-color-border);
}
.sec-title{
  font-weight: bold;
  line-height: 20px;
}
.product-list{
  margin-top: 16px;
  height: 132px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.product-item{
  margin-right: 10px;
  display: inline-block;
  width: 140px;
  cursor: pointer;
}
.item-img{
  height: 90px;
  object-fit: cover;
  border-bottom: 0.5px solid var(--cancel-color-border);
  border-radius: 8px;
}
.item-tit{
  padding: 6px 2px 0 2px;
  font-size: 14px;
  line-height: 18px;
}
.item-price{
  padding: 4px 2px 0 2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: var(--enabled-color);
}

.post-sec{
  margin: 6px 0 60px 0;
  border-bottom: 0.5px solid var(--cancel-color-border); 
}
.post-btn-tab{
  padding: 9px 16px;
  overflow: auto;
  border-top: 0.5px solid var(--cancel-color-border); 
  border-bottom: 0.5px solid var(--cancel-color-border); 
}
.post-btn-wrap{
  float: right;
}
.post-btn-wrap button{
  margin-left: 16px;
  width: 26px;
  height: 26px;
  background-color: #fff;  
}
.post-btn-list{
  background: url(../assets/icon/icon-post-list-off.png) no-repeat;
}
.post-btn-list.on{
  background: url(../assets/icon/icon-post-list-on.png) no-repeat;
}
.post-btn-album{
  background: url(../assets/icon/icon-post-album-off.png) no-repeat;
}
.post-btn-album.on{
  background: url(../assets/icon/icon-post-album-on.png) no-repeat;
}
.post-list-sec{
  margin: 16px;
  display: none;
}
.post-list-sec.on{
  display: block;
}
.post-list-sec .post-img-list::-webkit-scrollbar {
  width: 100px;
  height: 10px;
}

.post-list-sec .post-img-list::-webkit-scrollbar-thumb {
  background-color: var(--enabled-color);
  border-radius: 10px;
}

.post-list-sec .post-img-list::-webkit-scrollbar-track {
  background-color: white;
}
.post-album-sec{
  margin: 16px;
  display: none;
}
.post-album-sec.on{
  display: block;
}

.post-album-list{
  display: grid;
  /* grid-template-columns: repeat(3, minmax(114px, 33%)); */
  grid-template-columns: repeat(3, 114px);
  justify-content: center;
  gap: 8px;
}
.post-album-item{
  position:relative;
  height: 114px;
}
.post-album-item img{
  height: 100%;
  object-fit: cover;
}
.post-album-item.multi::before{
  margin: 6px;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  background: url(../assets/icon/iccon-img-layers.png) no-repeat center;
}

/* 누리 작업 - P02 마이 프로필 */
.medium-unfollow-btn.profile-edit-btn{
  margin: 0 12px; 
}

/* 누리 작업 - P03 팔로우, 팔로워 */
.follow-sec{
  padding-top: 48px
}
.follow-list{
  margin: 24px 16px 0 16px;
}
.follow-item{
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-item .user-link{
  display: flex;
}
.follow-item .user-img{
  width: 50px;
  margin-right: 12px;
  border-radius: 25px;
}
.follow-item .user-follow-bar{
  width: calc(100% - 64px);
  position:relative;
  align-content: baseline;
}
.user-follow-bar .user-image{
  border-radius: 25px;
}
.user-follow-bar .user-follow-info{
  width: calc(100% - 62px);
  margin-left: 12px;
}
.user-follow-item .small-follow-button,
.user-follow-item .cancel-button{
  position: absolute;
  right: 0;
}
.emptyfollow-item{
  margin: 15px 0;
  text-align: center;
  line-height: 22px;
}

/* 누리 작업 - P04 마이 프로필 수정 */
.container.profile-edit{
  padding-top: 48px;

}
.profile-edit-wrap{
  margin: 30px auto;
  width: 110px;
  height: 110px;
  position: relative;
  border-radius:55px;
  background: url(../assets/basic-profile-img-2.png) no-repeat center;
}
.profile-btn-upload{
  width: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: initial;
}

/* 누리 작업 - P05 상품 등록 */
.prod-form{
  margin-top: 30px;
}
.prod-img-tit{
  font-size: 12px;
  line-height: 14px;
  color: var(--cancel-color-text);
}
.prod-img-wrap{
  margin: 18px 0 30px 0;
  height: 204px;
  position: relative;
  background-color: #f2f2f2;
  border: 0.5px solid var(--cancel-color-border);
  border-radius: 10px;
}
.prod-btn-img{
  margin: 12px;
  width: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: initial;
}

/* 누리 작업 - P04 마이 프로필 수정, P05 상품 등록 form */
.container.prod{
  padding-top: 48px;
}
.edit-name-tit,
.edit-id-tit,
.edit-intro-tit,
.prod-name-tit,
.prod-price-tit,
.prod-link-tit{
  color: var(--cancel-color-text);
  font-size: 12px;
  margin: 16px 0 10px 0;
  display: block;
}
.edit-name-input,
.edit-id-input,
.edit-intro-input,
.prod-name-input,
.prod-price-input,
.prod-link-input{
  border: none;
  border-bottom: 1px solid var(--cancel-color-border);
  padding-bottom: 8px;
  width: 100%;
}
.edit-name-input:focus, 
.edit-name-input:active,
.edit-id-input:focus, 
.edit-id-input:active,
.edit-intro-input:focus, 
.edit-intro-input:active,
.prod-name-input:focus,
.prod-name-input:active,
.prod-price-input:focus,
.prod-price-input:active,
.prod-link-input:focus,
.prod-link-input:active{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--enabled-color);
}
.edit-name-input::placeholder,
.edit-id-input::placeholder,
.edit-intro-input::placeholder,
.prod-name-input::placeholder,
.prod-price-input::placeholder,
.prod-link-input::placeholder{
  font-size: 14px;
  color: var(--cancel-color-border);
}
.form-error-message,
.edit-message-error,
.name-error-message,
.account-error-message,
.intro-error-message,
.prod-message-error{
  font-size: 12px;
  color: #EB5757;
  margin-top: 6px;
  display: none;
}