@charset "utf-8";
/* base */
.nav{
  /* background-color: #ddd; */
  padding: 8px 12px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  /* @영은님:: 제가 저번에 밑줄 없어도 된다 말씀드렸는데 배경이 없어지게 되면 필요할 것 같아서 제가 다시 임의로 추가하였습니다..!! 헤헤 */
  border-bottom: 0.5px solid var(--cancel-color-border);
}

.nav-main p{
  /* margin: 13px 16px; */
  margin: 5px 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* 게시글 li 시작! */
.home-post-user {
    padding-top: 20px;
}

.home-post-user .user-profile {
  float: left;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  border: 1px solid var(--cancel-color-border);
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
}

.home-post-user .user-name {
  font-weight: 500;
  font-size: 14px;
  padding-top: 5px;
}

.home-post-user .user-id {
  color: #767676;
  font-size: 12px;
  padding-top: 5px;
}

.home-post-user .btn-menu {
  background-size: cover;
  float: right;
  margin-top: -30px;
  width:18px;
  height: 18px;
  background: url(../assets/icon/icon-more-vertical.png) no-repeat;
  background-size: contain;
}

/* post 내용 시작! */
.home-post-content {
  /* 390*426 */
  height: 100%;
  padding: 16px 16px 16px 54px;
}
.home-post-content .post-img-contr::-webkit-scrollbar { 
  width: 100px; 
  height: 10px; 
}
.home-post-content .post-img-contr::-webkit-scrollbar-thumb { 
  background-color: var(--enabled-color); 
  border-radius: 10px; 
} 
.home-post-content .post-img-contr::-webkit-scrollbar-track { 
  background-color: white; 
}
.home-post-content .user-cont {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.3;
}
.post-img-container {
  position: relative;
  margin-bottom: 16px;
  max-height: 228px;
  border-radius: 10px;
  overflow: hidden;
}
.post-img-list {
  display: flex;
  gap: 8px;
  transition: all .4s;
  width: 304px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: var(--enabled-color);
}
.post-img-list li {
  min-width: 304px;
  width: 100%;
  max-height: 228px;
  min-height: 228px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}
.post-img-btn-list {
  position: absolute;
  display: flex;
  gap: 6px;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
}
.post-img-btn-list button {
  top:30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}
.post-img-btn-list button.current {
  top:30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--enabled-color);
  cursor: pointer;
  padding: 0;
}

.home-post-content .user-photo {
  border-radius: 15px;
}

/* post 좋아요, 댓글  */
.home-post-comment {
  display: flex;
  font-size: small;
  color: #767676;
  margin-left: 55px;
}

/* 버튼묶음 */

.home-post-comment .item-count {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.home-post-comment .item-count .btn {
  border: 0;
  outline: 0;
  /* background: none; */
  margin-right: 7px;
}

.btn-heart, .btn-message {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
}

/* center no-repeat 20px 20px; */
.btn.btn-heart {
  background-image: url(../assets/icon/heart.svg);
}

.btn.btn-heart.on {
  background-image: url(../assets/icon/icon-heart-active.svg);
  z-index: 10;
  /* display: block;
  z-index: 10; */
}

.heart-count, .message-count {
  color: var(--cancel-color-text)
}

.date {
  padding: 18px 0 18px 55px;
  font-size: small;
  color: #767676;
  padding-bottom: 15px;
}

/* 프로필 상품 이미지 */
.profile-product {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 140px;
}

.profile-product .user-product-photo {
  border-radius: 8px;
  margin-bottom: 5px;

}
.profile-product .product-name {
  margin-bottom: 5px;
}
.profile-product .product-price {
  color: var(--enabled-color);
  font-weight: 500;
}

/* 3.1.4 딸기마켓 피드 Home 시작 */

.home-main-init {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.feed-cont {
  padding: 44px 16px 55px 16px;
}

.home-main-init .home-init-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-main-init .symbol-logo-gray {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  filter: invert(48%) sepia(0%) saturate(13%) hue-rotate(136deg) brightness(95%) contrast(92%);
}

.home-main-init .home-init-text {
  color: var(--cancel-color-text);
  margin: 30px 0;
}

.home-main-init .home-init-button {
  width: 120px;
  height: 44px;
  background-color: var(--enabled-color);
  border-radius: 30px;
}

.home-main-init .home-init-button a {
  font-family: Spoqa Han Sans Neo;
  font-weight: 200;
  color: #fff;
  padding: 20px 30px;
}

/* 하단 탭 메뉴 */
.home-main-footer {
  border-top: 1px solid #767676;
}

.home-main-footer .tab-menu-list .on a {
  color : var(--enabled-color);
}
.home-main-footer .tab-menu-list .on a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 30px;
  background-size: contain;
  background: url(../assets/icon/icon-home-fill.png) ;
}

/* --------------------------------------- */
/* 3.1.12 채팅 목록 (chat List) */
.main-chat-list {
  padding: 40px 10px 380px 0;
}
.chat-list {
  display: flex;
  align-items: center;
  padding: 20px 20px 15px 15px;
  position: relative;
  cursor: pointer;
}

.chat-user-profile {
  width: 42px;
  height: 42px;
  margin-right: 11px;
}

.chat-list .chat-live {
    width: 12px;
    height: 12px;
    background-color: var(--enabled-color);
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 21px;
}

.chat-list-text .user-id {
  font-size: medium;
  font-weight: 500;
  font-size: 14px;
}

.chat-list-text .user-chat {
  color: #767676;
  font-size: 12px;
  font-weight: 500px;
  padding-top: 10px;
}

.chat-date {
  color: #dbdbdb;
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  right: 0px;
}

/* 3.1.13 채팅방 (chat room) */
.chat-room {
  padding: 224px 7px 20px;
  /* background-color: #F2F2F2; */
  box-sizing: border-box;
}

.chat-cont-sender {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  padding: 10px;
}

.chat-cont-sender .chat-time {
  padding: 0 30px 0 5px;
  color: var(--cancel-color-text);
  font-size: small;
}

ul .chat-cont-sender :nth-child(2) {
  border-radius: 0 5px 5px 5px;
  border: 1px solid var(--cancel-color-text);
  background-color: white;
  padding: 7px;
}

.chat-cont-me {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}


.chat-cont-me .chat-user-profile {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 130px;
  left: 250px;
  transform: translate(-50%, -50%);
  border-radius: 10px;

}
.chat-cont-me .bg-color-red {
  border-radius: 5px 0 5px 5px;
  border: 1px solid var(--enabled-color);
  background-color: var(--enabled-color);
  width: 108px;
  height: 42px;
  text-align: center;
  line-height: 35px;
  color: white;
}

.chat-cont-me .chat-time {
  padding-right: 10px;
  color: var(--cancel-color-text);
  font-size: small;
}
.chat-cont-me .chat-time-picture {
  padding-right: 10px;
  color: var(--cancel-color-text);
  position: absolute;
  top: 230px;
  left: 90px;
  font-size: small;
}

.chat-form {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 12px 16px;
  margin-top: 350px;
  padding-bottom: 0;
  /* bottom: 0;
  position: fixed; */
}

.chat-content {
  display: flex;
  align-items: center;
}

.album-button {
  background-color: #fff;
}

.chat-input {
  margin-left: 10px;
}
.chat-btn {
  color: var(--enabled-color);
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

